<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
</head>
<body>
	<h1>確認画面</h1>
	<div>下記の内容で登録します</div><br>
	<table border="1">
		<thead>
			<tr>
				<th>タイトル</th>
				<th>説明</th>
				<th>期限</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody th:object="${form}">
			<tr>
				<td th:text="*{title}"></td>
				<td th:text="*{description}"></td>
				<td th:text="*{deadline}"></td>
				<td>
					<th:block th:switch="*{status}">
						<span th:case="0">未着手</span>
						<span th:case="1">作業中</span>
						<span th:case="2">完了</span>
					</th:block>
				</td>
			</tr>
		</tbody>
	</table>
	<form th:action="@{/task/save}" method="post" th:object="${form}">
		<input type="hidden" th:field="*{taskId}">
		<input type="hidden" th:field="*{title}">
		<input type="hidden" th:field="*{description}">
		<input type="hidden" th:field="*{deadline}">
		<input type="hidden" th:field="*{status}">
		<input type="hidden" th:field="*{submitView}">
		<button type="submit">完了</button>
		<button type="submit" th:formaction="@{/back}">戻る</button>
	</form>
</body>
</html>