<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>削除確認画面</title>
</head>
<body>
	<h1>タスク削除</h1>
	<div>下記のタスクを削除しますか？</div><br>
	<table>
		<thead>
			<tr>
				<th>タイトル</th>
				<th>説明</th>
				<th>期限</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<tr th:object="${task}">
				<label for="title">タイトル</label>
				<td th:text="*{title}"></td>
				<label for="description">説明</label>
				<td th:text="*{description}"></td>
				<label for="deadline">期限</label>
				<td th:text="*{deadline}"></td>
				<label for="status">ステータス</label>
				<td th:text="*{status}"></td>
			</tr>
		</tbody>
	</table>
	<form th:action="@{/task/deleteComp}" method="post" th:object="${task}">
		<input type="hidden" th:field="*{taskId}">
		<button type="submit">完了</button>
	</form>
</body>
</html>