<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo_app.mapper.TaskMapper">
    <select id="selectAll" resultType="com.example.todo_app.entity.TaskEntity">
        SELECT * FROM tbl_todo
        WHERE "deleteFlg" = 0
        ORDER BY deadline ASC
    </select>
    <select id="selectById" parameterType="int" resultType="com.example.todo_app.entity.TaskEntity">
    	SELECT * FROM tbl_todo
    	WHERE "taskId" = #{taskId}
    </select>
    <insert id="insert" parameterType="com.example.todo_app.entity.TaskEntity">
    	INSERT INTO tbl_todo (title,description,deadline)
    	VALUES (#{title}, #{description}, #{deadline})
    </insert>
    <update id="update" parameterType="com.example.todo_app.entity.TaskEntity">
    	UPDATE tbl_todo
    	SET "title"=#{title}
    		,"description"=#{description}
    		,"deadline"=#{deadline}
    		,"status"=#{status}
    	WHERE "taskId" = #{taskId}
    </update>
</mapper>